a:link{
            background-color: sandybrown;
            color: white;
            padding: 15px 20px;
            text-align:center;
            text-decoration: none;
            display: inline-block;
            margin-right:16px;
    font-size: 40px;
  }
h1{
    font-size: 75px;
    text-align: center;
    color: sandybrown
}
body{
    background-color: aliceblue
}
p{
    text-align: center;
    background: saddlebrown;
    color: white;
    font-size: 40px
}
