a:link{
            background-color: yellow;
            color: blue;
            padding: 15px 20px;
            text-align:center;
            text-decoration: none;
            display: inline-block;
            margin-right:16px;
    font-size: 40px;
  }
body{
    background-color: #faf17e;
}
h1{
    text-align: center;
    font-size: 75px;
    color: blue;
}
h2{
    text-align: center;
    color: red;
    font-size: 50px;
}
.highschool{
    text-align: center;
    background-color: aliceblue;
}
p{
    font-size: 30px;
}
.after{
    text-align: center;
    background-color: #6ec1ff;
}